{% paginate blog.articles by section.settings.number_of_blog_psts %}
    {% for article in blog.articles %}
        <div>
            {% if article.image %}
                <img src="{{ article.image |  image_url }}" alt="{{ article.image.alt }}" width="200" height="200">
            {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-40' }}
            {% endif %}
            <h1>{{ article.title }}</h1>

            {% if article.excerpt.size > 0 %}
            
            {% else %}
                <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
            {% endif %}
        </div>      
    {% endfor %}
{% endpaginate %}

{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "range",
        "id": "number_of_blog_psts",
        "label": "Number of posts",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 3
      }
    ]
  }
{% endschema %}